body {
    background: linear-gradient(135deg, #a49727, #b64627);
    color: #fff;
    height: 100vh;
}
svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -125px;
}